.hero-wrapper  {
    height: calc(100vh - 197.06px);
    min-height: 400px;
    width: 100%;
    padding: 1rem;
}




/* media queries */
@media screen and (max-width: 990px) {
    .hero-wrapper  {
        height: calc(100vh - 181.06px);
    }
  
  }
  
  @media screen and (max-width: 600px) {
    .hero-wrapper  {
        height: calc(100vh - 172.67px);
    }
  
  }

