:root {
    /* Colors */
    --primary-color-1: #495E57;
    --primary-color-2: #F4CE14;
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --highlight-color-1: #EDEFEE;
    --highlight-color-2: #333333;
    --white: #ffffff;
  
    /* Gradients */
    --gradient-primary: linear-gradient(135deg, rgba(73, 94, 87, 0.6), rgba(244, 206, 20, 0.6));
  
    /* Fonts */
    --font-text: 'Karla', sans-serif;
    --font-header: 'Markazi Text', serif;
  
    /* Font Sizes */
    --fs-sm: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 2.5rem;
    --fs-xl: 3rem;
    --fs-xxl: 5rem;
    --fs-3xl: 7rem;
  
    /* Padding */
    --pd-xxs: 0.1rem;
    --pd-xs: 0.25rem;
    --pd-sm: 0.5rem;
    --pd-md: 1rem;
    --pd-lg: 2rem;
  
    /* Border Radius */
    --br-sm: 0.5rem;
    --br-md: 1rem;
    /* spacing */
    --sp-xs: .5rem;
    --sp-sm: 1rem;
    --sp-md: 2rem;
    --sp-lg: 3rem;
  
    /* Shadows */
    --shadow-main: 0px 10px 12px rgba(0, 0, 0, 0.3);
    --shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .hero {
    display: flex;
    height: calc(100vh - 197.06px);
    min-height: 500px;
    width: 100%;
    background-color: var(--highlight-color-1);
    position: relative;
  }
  
  .hero-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    background-color: var(--primary-color-1);

  }

    .hero-slider {
    height: 100%;
    flex-basis: 60%;
    overflow: hidden;
    border: solid 2px var(--highlight-color-1);
    z-index: 0;
  }





  .hero-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--highlight-color-2);
    text-align: center;
    z-index: 1;
  }


  .hero-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 197.06px);
    gap:1rem;
    color: var(--white);
    animation: fadeIn 1.5s ease-in-out;
  }
  .hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  .hero-cta p {
    font-family: var(--font-text);
    font-size: var(--fs-md);
    max-width: 700px;
    text-align: left;
  }
  .logo-img{
    max-height: 100%;
    display: flex;
    justify-content: center;

  }
  .logo-img img {
    max-width: 200px;
    height: auto;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    gap: 1rem;
  }
  
  .hero-btn {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
.hero-btn button{
    all: unset;
    border: solid var(--highlight-color-1);
    height:32px;
    border-radius: 16px;
    color: var(--primary-color-1);
    background-color: var(--highlight-color-1);
}




  .hero-socials {
    width: 100%;
    min-height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: var(--sp-md);
  }
  .hero-socials svg {
    font-size: var(--fs-lg);
    color: var(--highlight-color-1);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  /* Media Queries */
  @media screen and (max-width: 990px) {
    .hero {
      height: calc(100vh - 181.06px);
    }
    .hero-content {
      display: none;
    }
    .hero-slider {
      flex-basis: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .hero {
      height: calc(100vh - 172.67px);
    }
  }
  

  /* Media Queries */
  @media screen and (max-width: 990px) {
    .hero {
      height: calc(100vh - 181.06px);
    }
    .hero-content {
      display: none;
    }
    .hero-slider {
      flex-basis: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .hero {
      height: calc(100vh - 172.67px);
    }
  }
  