/* Root variables */
:root {
    /* colors */
    --primary-color-1: #495E57;
    --primary-color-2: #F4CE14;
    --primary-color-3: #394a45;
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --highlight-color-1: #EDEFEE;
    --highlight-color-2: #333333;
    --white: white;

    /* gradients */
    --gradient-primary: linear-gradient(135deg, rgba(73, 94, 87, 0.6), rgba(244, 206, 20, 0.6));

    /* fonts */
    --font-text: 'Karla', sans-serif;
    --font-header: 'Markazi Text', serif;

    /* font sizes */
    --fs-sm: 1rem;
    --fs-md: 1.2rem;
    --fs-lg: 2rem;

    /* padding */
    --pd-xxs: 0.1rem;
    --pd-xs: 0.25rem;
    --pd-sm: 0.5rem;
    --pd-md: 0.75rem;
    --pd-lg: 1rem;
    --pd-xl: 1.5rem;

    /* border radius */
    --br-sm: 0.5rem;
    --br-md: 1rem;

    /* spacing */
    --sp-xs: 0.5rem;
    --sp-sm: 1rem;
    --sp-md: 2rem;
    --sp-lg: 3rem;

    /* box shadows */
    --shadow-main: 0px 10px 12px rgba(0, 0, 0, 0.3);
    --shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.swiper {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    max-width: 3200px;
    height: 600px;
    border: solid 1px black;
    background-color: white;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
}


/* Custom Swiper Buttons */
.swiper-button {
    position: absolute;
    display: block;
    height: 100px;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px black;
    color: var(--highlight-color-2);
    cursor: pointer;
    z-index: 10;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    width: 60px; 
}

.swiper-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 0;
    border-left: none;
}

.next {
    right: 0;
    border-right: none;
}


