/* Root variables */
:root {
    /* colors */
    --primary-color-1: #495E57;
    --primary-color-2: #F4CE14;
    --primary-color-3: #394a45;
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --highlight-color-1: #EDEFEE;
    --highlight-color-2: #333333;
    --white: white;

    /* gradients */
    --gradient-primary: linear-gradient(135deg, rgba(73, 94, 87, 0.6), rgba(244, 206, 20, 0.6));

    /* fonts */
    --font-text: 'Karla', sans-serif;
    --font-header: 'Markazi Text', serif;

    /* font sizes */
    --fs-sm: 1rem;
    --fs-md: 1.2rem;
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-xxl: 4rem;

    /* padding */
    --pd-xxs: 0.1rem;
    --pd-xs: 0.25rem;
    --pd-sm: 0.5rem;
    --pd-md: 0.75rem;
    --pd-lg: 1rem;
    --pd-xl: 1.5rem;

    /* border radius */
    --br-sm: 0.5rem;
    --br-md: 1rem;

    /* spacing */
    --sp-xs: 0.5rem;
    --sp-sm: 1rem;
    --sp-md: 2rem;
    --sp-lg: 3rem;

    /* box shadows */
    --shadow-main: 0px 10px 12px rgba(0, 0, 0, 0.3);
    --shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.3);
}




.section-title {
    font-family: var(--font-header);
    font-size: var(--fs-xxl); 
    color: var(--primary-color-1);
    text-align: center;
    margin-bottom: var(--sp-lg);
    margin-top: var(--sp-lg);
    position: relative;
    display: block; 
    padding-bottom: var(--pd-xs);
    width: 100%; 
}

.section-title::after {
    content: '';
    position: absolute;
    left: calc((100vw - 90vw) / 2); 
    bottom: 0;
    width: 90vw; 
    height: 4px;
    background-color: var(--primary-color-2); 
}
.swiper {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    max-width: 3000px;
    height: 640px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--white);
    color: var(--white);
    border: solid 2px var(--primary-color-1);
    padding: var(--pd-sm);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-button.prev {
    left: 10px;
}

.swiper-button.next {
    right: 10px;
}

.swiper-button:hover {
    background-color: var(--primary-color-1);
    transform: translateY(-50%) scale(1.1);
    border: double 3px var(--highlight-color-1);
}

.swiper-button svg {
    font-size: 2rem;
    fill: var(--primary-color-1);
}
.swiper-button:hover  svg{
    fill: var(--white);
}

@media screen and (max-width: 990px) {
    .swiper-button {
        display: none;
    }
    
}