.home-wrapper {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    gap: 3rem;
}
.home2 {

    background-color: aqua;
    height: calc(100vh - 132px);
    min-height: 500px;
    width: 100%;
    border-radius: 2rem;
}
.hero-slider {
    width: 100%;
    height: calc(100vh - 132px);
    
}