:root {
  /* colors */
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EDEFEE;
  --highlight-color-2: #333333;
  --white: white;

  /* gradients */
  --gradient-primary: linear-gradient(135deg, rgba(73, 94, 87, 0.6), rgba(244, 206, 20, 0.6));
  /* fonts */
  --font-text: 'Karla', sans-serif;
  --font-header: 'Markazi Text', serif;

  /* font sizes */
  --fs-sm: 1rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;

  /* padding */
  --pd-xxs: 0.rem;
  --pd-xs: 0.25rem;
  --pd-sm: 0.5rem;
  --pd-md: 0.75rem;

  /* border radius */
  --br-sm: .5rem;

  /* spacing */
  --sp-xs: .5rem;
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;

  /* box shadows */
  --shadow-main: 0px 10px 12px rgba(0, 0, 0, 0.3);
  --shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.3);
}


/* Navbar container */
.navbar-wrapper {
  display: flex;
  width: 100%;
  gap: var(--sp-lg);
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color-1);
  padding: var(--pd-sm);
  box-shadow: var(--shadow-main);
  border-bottom: 1px solid var(--primary-color-1);
}

/* Navbar links container */
.navbar-links {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  width: fit-content;
  gap: var(--sp-sm);
  padding: var(--pd-sm);
  box-shadow: var(--shadow-hover);
  border-radius: var(--br-sm);
  background-color: var(--highlight-color-1);
  border: double 4px var(--primary-color-1);


}
.navbar-links a {
  display: flex;
  align-items: center;
  padding: var(--pd-sm);
  color: var(--primary-color-1);
  text-decoration: none;
  border-radius: var(--br-sm);
  border: solid 2px var(--primary-color-1);

}

.nav-item svg {
  font-size: var(--fs-lg);

}

.navbar-links .nav-item.hovered {
  display: flex;
  justify-content: center;
  width: fit-content; 
  color: var(--highlight-color-1);
  background: var(--primary-color-1);
  border: inset  2px var(--highlight-color-2);
  transition: all 0.3s ease-in;

}

.navbar-links .nav-item:hover svg {
  transform: scale(1.2); 
  color: var(--highlight-color-1);
  transition: all 0.3s ease-in;
  
}
.navbar-links .nav-item.active {
  background: var(--primary-color-1); 
  color: var(--highlight-color-1); 
  border: inset  2px black;

  /* border: double  4px var(--white); */
}

.nav-title {
  margin-left: var(--sp-xs);
  font-family: var(--font-header);
  font-size: var(--fs-md);
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

}

/* Navbar logo */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  cursor: pointer;
  width: fit-content;
  gap: var(--sp-sm);
  text-transform: uppercase;
  font-family: var(--font-header);
  border: 4px double var(--primary-color-1); 
  padding: var(--pd-sm); 
  border-radius: var(--br-sm); 
  background-color: var(--white);
}
.navbar-logo img {
  height: 56.4px;
}
.navbar-logo span {
  font-size: var(--fs-lg); 
  font-weight: bold; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  color: var(--primary-color-1);
}


/* Navbar icons wrapper */
.navbar-icons-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--sp-sm);
  align-items: center;
}

.navbar-icons-wrapper svg {
  font-size: 20px;
  color: var(--white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-icons-wrapper svg:hover {
  cursor: pointer;
  color: var(--primary-color-1);
  transform: scale(1.2); 
}

.navbar-icons-hamburger {
  display: none;
  font-size: var(--fs-lg);
  color: var(--white);
}

@media screen and (max-width: 990px) {

  /* navbar wrapper */
  .navbar-wrapper {
    gap: var(--sp-sm);
  }
  .nav-title {
    display: none;
  }


  /* navbar logo */
  .navbar-logo{
    padding: var(--pd-xs);
  }
  .navbar-logo span {
    /* display: none; */
    font-size: var(--fs-md);
  }
  .navbar-logo img {
    height: 48.4px;
  }

  /* navbar links */
  .navbar-links {
    padding: var(--pd-xs);
  }
  .nav-item svg {
    font-size: var(--fs-md);
  }
}

@media screen and (max-width: 560px) {

  .navbar-logo span {
    /* display: none; */
  }

  .navbar-icons-wrapper {
    display: none;
  }
  .navbar-icons-hamburger {
    display: inherit;
  }

  /* navbar links */
  .navbar-links {
    display: none;
  }

}