:root {
  /* colors */
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --primary-color-3: #394a45;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EDEFEE;
  --highlight-color-2: #333333;
  --white: white;

  /* gradients */
  --gradient-primary: linear-gradient(135deg, rgba(73, 94, 87, 0.6), rgba(244, 206, 20, 0.6));
  /* fonts */
  --font-text: 'Karla', sans-serif;
  --font-header: 'Markazi Text', serif;

  /* font sizes */
  --fs-sm: 1rem;
  --fs-md: 1.2rem;
  --fs-lg: 2rem;

  /* padding */
  --pd-xxs: 0.1rem;
  --pd-xs: 0.25rem;
  --pd-sm: 0.5rem;
  --pd-md: 0.75rem;
  --pd-lg: 1rem;
  --pd-xl: 1.5rem;

  /* border radius */
  --br-sm: .5rem;
  --br-md: 1rem;

  /* spacing */
  --sp-xs: .5rem;
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;

  /* box shadows */
  --shadow-main: 0px 10px 12px rgba(0, 0, 0, 0.3);
  --shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.3);
}


/* Navbar container */
.navbar-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--sp-lg);
  justify-content: space-between;
  align-items: center;
  background:var(--primary-color-3);
  padding: 0 var(--pd-xl);
  box-shadow: var(--shadow-hover);
  border-bottom: 1px solid var(--primary-color-1);
  border-top: none;
}

/* Navbar links container */
.navbar-links {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: var(--sp-sm);
  /* padding: var(--pd-sm); */
}
.navbar-links a {
  display: flex;
  align-items: center;
  padding: var(--pd-sm);
  color: var(--highlight-color-1);
  text-decoration: none;
  border: solid 1.5px var(--primary-color-1);
}
.nav-item svg {
  font-size: var(--fs-lg);
}
.navbar-links .nav-item.hovered {
  display: flex;
  justify-content: center;
  width: fit-content; 
  background: var(--primary-color-1);
  /* border-left: solid  1.5px var(--highlight-color-1);
  border-right: solid  1.5px var(--highlight-color-1); */
  transition: all 0.3s ease-in;
}

.navbar-links .nav-item:hover span {
  transform: scale(1.1); 
  transform-origin: center;
  transition: all 0.3s ease-in;
}
.navbar-links .nav-item.active {
  /* background: var(--primary-color-1);  */
  
  color: var(--highlight-color-1); 
  border: solid  1.5px var(--highlight-color-1);
  transition: color 0.2s ease-in-out;
}
.nav-title {
  margin-left: var(--sp-xs);
  font-family: var(--font-header);
  font-size: var(--fs-md);
  text-transform: uppercase;

}

/* Navbar logo */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  gap: var(--sp-sm);
  font-family: var(--font-header);
  padding: var(--pd-sm);
}
.navbar-logo img {
  height: 56.4px;
}
.navbar-logo span {
  font-size: var(--fs-lg); 
  font-weight: bold; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  color: var(--highlight-color-1);
}


/* Navbar mobile icons wrapper */
.navbar-icons-wrapper {
  display: flex;
  justify-content: sta;
  gap: var(--sp-sm);
  align-items: center;
  margin-left: var(--sp-lg);
}
.navbar-icons-wrapper svg {
  font-size: 20px;
  color: var(--white);
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-icons-wrapper svg:hover {
  cursor: pointer;
  color: var(--white);
  transform: scale(1.2); 
}


/* Mobile dropdown menu */
.navbar-icons-hamburger {
  cursor: pointer;
  display: none;
  font-size: var(--fs-lg);
  color: var(--white);
  z-index: 1;
}
.navbar-icons-hamburger svg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 var(--pd-sm);
}

.profile-section svg {
  color: var(--highlight-color-1);
  margin-bottom:  var(--sp-sm);
  transition: color 0.3s ease-in-out;
}
.profile-section button {
  width: 100%;
  margin: var(--pd-sm);
  font-family: var(--font-header);
  font-size: var(--fs-sm);
  border-radius: var(--br-sm);
  border: solid 2px var(--highlight-color-1);
  background-color: var(--primary-color-1);
  color: var(--highlight-color-1);
  text-transform: capitalize;
  padding: var(--pd-xs);
}



.profile-section button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-color-2);
  border: solid 2px var(--highlight-color-1); 
  transform: scale(1.02);
}


.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  height: 100vh;
  min-width: 250px;
  top: 0;
  right: 0;
  background-color: var(--primary-color-3);
  box-shadow: var(--shadow-main);
  border: solid 2px var(--primary-color-1);
  z-index: -1;
  opacity: 0;
  visibility:hidden;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  overflow-y: scroll;
  padding: 50px 0;
}
/* socials */
.socials {
  display: flex;
  gap: var(--sp-sm);
}
.socials svg {
  font-size: var(--fs-md);
  color: var(--highlight-color-1);
}
.socials svg:hover {
  transform: scale(1.1);
  translate: 0 -2px;
  color: var(--primary-color-2);
  transition: all .3s ease-in-out;
}

.dropdown-list.show {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  transform: translateY(0);
}
.hamburger-btn {
  all: unset;
}
.close-btn {
  color: var(--highlight-color-1);
}


.dropdown-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--pd-sm);
  gap: var(--sp-xs);
  position: relative;

}
.dropdown-items a {
  display: flex;
  align-items: center;
  justify-content: start;
  align-items: center;
  gap: var(--sp-sm);
  padding: var(--pd-sm) var(--pd-xl);
  color: var(--highlight-color-1);
  text-decoration: none;
  font-family: var(--font-header);
  font-size: var(--fs-md);
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border: solid 2px var(--primary-color-1);
}

.dropdown-items a:hover {
  background-color: var(--primary-color-1);
  color: var(--highlight-color-1);
  border: solid 2px var(--highlight-color-1);
}

.dropdown-items a span {
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
}

.dropdown-items a:hover span {
  transform: scale(1.2);
  transform-origin: center;
}


/* media queries */
@media screen and (max-width: 990px) {

  /* navbar wrapper */
  .navbar-wrapper {
    gap: var(--sp-sm);
  }
  .nav-title {
    display: none;
  }

  .navbar-logo span {
    /* display: none; */
    font-size: var(--fs-md);
  }
  .navbar-logo img {
    height: 50px;
  }

  /* navbar links */
  .navbar-links {
    padding: var(--pd-xs);
  }
  .nav-item svg {
    font-size: var(--fs-lg);
  }
  .navbar-icons-wrapper {
    margin-left: var(--sp-md);
  }

}

@media screen and (max-width: 620px) {

  .navbar-wrapper{
    padding: 0 var(--pd-sm);
  }
  .navbar-logo span {
    /* display: none; */
    font-size: var(--fs-sm);
  }
  .navbar-logo img {
    height: 40px;
  }

  .navbar-icons-wrapper {
    display: none;
  }
  .navbar-icons-hamburger {
    display: inherit;
  }

  /* navbar links */
  .navbar-links {
    display: none;
  }

}