

.aside-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.nav-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    color: #495e74;
    text-decoration: none;
}


.nav-links svg{
    font-size: 2rem;
    color: var(--primary-color-1);
}
