
/* navbar */
.navbar-top {
  display: flex;
  gap: .5rem;
  height: 100%;
  width: 100%;
  padding: 0 2rem 0 1rem;
}

/* navbar logo */
.nav-logo {
  height: 100%;
}
.nav-logo img {
  height: 100%;
}

/* navbar icons */
.nav-icons-top {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}
.mode-toggler, .profile-icon a{
  display: block;
  height: 100%;
}

.nav-icons-top svg{
  height: 100%;
  width: 25px;
  color: var(--primary-color-1);
}


