.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows:100px 1fr;
}

.side-navbar {
    grid-column: 1;
    grid-row: 1/2;
    position: fixed;
    height: 100vh;overflow-y: auto;

}
.top-navbar {
    grid-column: 1;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.page-wrapper {
    display: flex;
    justify-content: center;
    height: max-content;
    background-color: gray;
    width: calc(100%-100px);
    grid-column: 2;
    grid-row: 2;
    border-radius: 2rem;
    padding: 2rem;
    min-height: 500px;

}