/* Reset margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: block;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "aside nav"
    "aside main"
    "aside footer";
}

aside {
  grid-area: aside;
  height: calc(100vh- 100px);
  /* height: 100vh; */
  position: sticky;
  align-self: start;
  top: 100px;
  bottom: 0;
  
}
main {
  grid-area: main;
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: center;
  grid-area: nav;
  height: 140px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;

}
footer {
  grid-area: footer;
  background-color: aqua;
  height: 100px;
}
