.app {
    margin-left: 100px;
}

@media screen and (max-width: 768px) {
    .app {
        margin-left: 80px;
    }
    
}

/* Media queries */
@media screen and (min-width: 1920px) {
    .app {
        justify-self: center;
    }

}