:root {
    --primary-color-1: #495f58;
    --primary-color-2: #f4ce14;
    --primary-color-2-transparent: rgb(244 206 20/0.1);
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --highlight-color-1: #EDEFEE;
    --highlight-color-2: #333333;
    --white-color-1: white;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    --f-header: 'Karla', 'sans-serif';
    --f-text: 'Markazi Text', 'sans-serif';
    --f-bold: 600;
    --f-md: 1.5rem;
    --f-xl: 3rem;
}



html, body {
    /* background-color: var(--primary-color-2-transparent); */
}